<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="admininterface" frontName="admininterface">
            <module name="Magento4u_AdminInterface"/>
        </route>
    </router>
</config>
